<header class="page-header">
	<div class="container">
		<div class="logo"><a href="#">Prechu</a></div>
		<nav class="header-nav">
			<ul class="header-nav__list">
				<li class="header-nav__item">
					<a href="#">Home</a>
				</li>
				<li class="header-nav__item">
					<a href="#">Products</a>
				</li>
				<li class="header-nav__item">
					<a href="#">Services</a>
				</li>
				<li class="header-nav__item">
					<a href="#">Contact</a>
				</li>
			</ul>
		</nav>
		<a href="#" class="nav-toggle">
			<span class="fa fa-bars fa-2x"></span>
			<span class="fa fa-close fa-2x"></span>
		</a>
	</div>
</header>