<section class="slider">
	<div class="container">
		<div class="owl-carousel">
			<div class="slider__item slider__item1">
				<h2>Lorem ipsum is simply</h2>
				<p>
					dummy text of the<br>
					printing & typecasting
				</p>
				<a href="#" class="btn__slider"><span class="fa fa-check" aria-hidden="true"></span>&nbsp;Sign up now</a>
			</div>
			<div class="slider__item slider__item2">
				<h2>Lorem ipsum is simply</h2>
				<p>
					printing & typecasting<br>
					dummy text of the
				</p>
				<a href="#" class="btn__slider"><span class="fa fa-check" aria-hidden="true"></span>&nbsp;Sign up now</a>
			</div>
		</div>
	</div>
</section>